{% extends 'base.html' %}
{% block banner %}
{% include 'breadcrumb.html' %}
{% endblock %}

{% block content %}
<!--================Blog Area =================-->
<section class="blog_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    {% for blog in blogs %}
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{{ blog.preview }}" alt="">
                            <a href="#" class="blog_item_date">
                                <p>{{ blog.date }}</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="/blog-single/{{ blog.id }}">
                                <h2>{{ blog.title }}</h2>
                            </a>
                            <p>{{ blog.content[:200] }}...</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="far fa-user"></i> {{ blog.author }}</a></li>
                                <li><a href="#"><i class="far fa-comments"></i> {{ blog.comment_count }} Comments</a>
                                </li>
                            </ul>
                        </div>
                    </article>
                    {% endfor %}

                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Previous">
                                    <i class="ti-angle-left"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">1</a>
                            </li>
                            <li class="page-item active">
                                <a href="#" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <i class="ti-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Search Keyword'
                                           onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Search Keyword'">
                                    <div class="input-group-append">
                                        <button class="btn" type="button"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1"
                                    type="submit">Search
                            </button>
                        </form>
                    </aside>

                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Category</h4>
                        <ul class="list cat-list">
                            {% for category in categories %}
                            <li>
                                <a href="#" class="d-flex">
                                    <p>{{ category.name }}</p>
                                    <p>({{ category.posts_count }})</p>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </aside>

                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Recent Post</h3>
                        {% for blog in blogs[:4] %}
                        <div class="media post_item">
                            <img src="{{ blog.preview }}" width="70px" height="70px" alt="post">
                            <div class="media-body">
                                <a href="/blog-single/{{ blog.id }}">
                                    <h3>{{ blog.title[:30] }}...</h3>
                                </a>
                                <p>{{ blog.date }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </aside>
                    <aside class="single_sidebar_widget tag_cloud_widget">
                        <h4 class="widget_title">Tag Clouds</h4>
                        <ul class="list">
                            {% for tag in tags %}
                            <li>
                                <a href="#">{{ tag.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </aside>


                    <aside class="single_sidebar_widget instagram_feeds">
                        <h4 class="widget_title">Instagram Feeds</h4>
                        <ul class="instagram_row flex-wrap">
                            {% for item in instagramm %}
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="{{ item.photo }}" alt="">
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </aside>


                    <aside class="single_sidebar_widget newsletter_widget">
                        <h4 class="widget_title">Newsletter</h4>

                        <form action="#">
                            <div class="form-group">
                                <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1"
                                    type="submit">Subscribe
                            </button>
                        </form>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->
{% endblock %}